.page-header__top {
  height: 50px;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 19px;
  background: #ECECEC;

  &--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
  }

  &--login, &--registration {
    border-bottom: 1px solid #A6A7B1;
  }

  &--link {
    color: #A6A7B1;
  }
}

.social {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-right: 2px;
}

.social__list {
  display: flex;
}

.social__item {
  padding-left: 10px;
}

.page-header__title {
  display: flex;
  padding-bottom: 30px;

  &--wrapper {
    padding-top: 33px;
    align-items: center;
  }

  &--logo {
    margin-right: 50px;
  }

  &--description {
    margin-right: 56px;
    width: 268px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A6A7B1;
  }

  &--description-image {
    vertical-align: text-bottom;
  }

  &--call {
    margin-right: 26px;
  }

  &--phone {
    margin-right: 139px;
    width: 195px;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #323232;
  }

  &--cart {
    display: flex;
  }
}

.call-button__button {
  padding: 13px;
  width: 188px;
  border: 3px solid #E33439;
  box-sizing: border-box;
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #323232;
  background: none;
}

.cart__image {
  margin-right: 17px;
}

.cart__order {
  margin-top: 9px;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  &--link {
    text-decoration: underline;
    color: #E33439;
  }
}

.main-nav {
  background: #E33439;
}

.main-nav .wrapper {
  height: 70px;
}

.main-nav__list {
  width: 1281px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.site-list__item {
  position: relative;
  flex-basis: auto;
  flex-grow: 1;

  &--list {
    text-align: center;
  }

  &--list::before {
    position: absolute;
    content: "";
    top: 31px;
    right: 30px;
    width: 12px;
    height: 10px;
    background: url('../img/arrow.png');
    background-repeat: no-repeat;
  }

  &--list:hover {
    background: #C22A2E;
  }
}

.site-list__item:last-child {
  text-align: right;
}

.site-list__link {
  width: 100%;
  color: #F9FAFE;

  &--active {
    color: #FAACAE;
  }

  &--list {
    line-height: 70px;
  }

  &--list:hover {
    padding-top: 23px;
    padding-bottom: 23px;
    background: #C22A2E;
  }
}

.main-nav__sub-list {
  display: none;
  text-align: left;
  text-transform: none;
  background: #C22A2E;
}

.sub-list__item {
  padding-left: 38px;
}

.site-list__item:hover .main-nav__sub-list {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
}

.sub-list__link {
  width: 100%;
  line-height: 40px;
  color: #F9FAFE;
}

.sub-list__item:hover {
  background: #E33439;
}

.page-header__intro {
  padding-bottom: 47px;
}

.intro-block__picture {
  justify-content: normal;
  padding-top: 25px;
  padding-left: 47px;

  &--image {
    padding-right: 140px;
  }
}

.intro-block__title {
  padding-top: 12px;
  padding-left: 25px;
  justify-content: normal;
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;

  &--text {
    text-transform: uppercase;
  }

  &--text img {
    vertical-align: text-bottom;
  }
}

.rootform {
  padding-right: 80px;
  color: #9EBF56;
}

.compressive {
  padding-right: 59px;
  color: #B0B0B0;

  &--ms {
    padding-right: 45px;
    color: #E2C058;
  }

  &--m {
    padding-right: 30px;
  }

  &--mp {
    padding-right: 38px;
  }

  &--m, &--mp {
    color: #C0568A;
  }

  &--s {
    padding-right: 73px;
    color: #B0B0B0;
  }
}

.basal {
  padding-right: 98px;
  color: #6FBBCF;

  &--ss {
    color: #6FBBCF;
  }
}
